<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/blog?characterEncoding=utf-8&amp;useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="mix134164"/>
                <property name="poolPingEnabled" value="true"/>
                <property name="poolPingQuery" value="select now()"/>
                <property name="poolPingConnectionsNotUsedFor" value="3500000"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="cn/xkenmon/blog/DAO/mapping/ArticleMapper.xml"/>
        <mapper resource="cn/xkenmon/blog/DAO/mapping/UserMapper.xml"/>
        <mapper resource="cn/xkenmon/blog/DAO/mapping/ArticlePicMapper.xml"/>
    </mappers>


</configuration>